In [2]:
import streamlit as st
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns= ['lat', 'lon']
)
df

          lat         lon
0   35.703606  139.706053
1   35.704743  139.709026
2   35.705263  139.714760
3   35.700351  139.716244
4   35.707265  139.716484
5   35.691348  139.703829
6   35.708298  139.718748
7   35.708541  139.716684
8   35.704112  139.710283
9   35.699395  139.717674
10  35.706519  139.701193
11  35.704550  139.719805
12  35.690662  139.718744
13  35.705281  139.707203
14  35.699877  139.714172
15  35.694765  139.707396
16  35.692708  139.701825
17  35.698896  139.709900
18  35.708616  139.715503
19  35.707236  139.716699
20  35.699638  139.705110
21  35.701492  139.704888
22  35.709392  139.711988
23  35.703344  139.716673
24  35.697589  139.710535
25  35.702928  139.703083
26  35.692293  139.716747
27  35.704960  139.713539
28  35.699374  139.700201
29  35.700827  139.707737
..        ...         ...
70  35.697133  139.710041
71  35.697067  139.719487
72  35.709847  139.706698
73  35.693408  139.703267
74  35.698923  139.716092
75  35.701838  139.711904
76  35.697196  139.710696
77  35.702507  139.714221
78  35.706782  139.703301
79  35.695093  139.713035
80  35.696352  139.708025
81  35.709218  139.719282
82  35.708780  139.714664
83  35.704486  139.715692
84  35.694150  139.713842
85  35.709688  139.703282
86  35.707835  139.701906
87  35.707937  139.700971
88  35.704270  139.717681
89  35.696488  139.711512
90  35.690580  139.704321
91  35.702174  139.706986
92  35.698192  139.700305
93  35.697721  139.715463
94  35.694321  139.701316
95  35.696593  139.701531
96  35.692088  139.706262
97  35.708462  139.714008
98  35.692634  139.700860
99  35.709440  139.711780

[100 rows x 2 columns]

In [5]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
import time

In [7]:
for i in range(100):
    print(i)
    time.sleep(0.1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99